In [232]:
# !pip install pandas
# !pip install numpy
# !pip install tabula

In [255]:
import pandas as pd
import numpy as np
import tabula
import math

In [256]:
templates = {
    'page1': (204.91, 33.138, 811.816, 570.86),
    'page2': (107.49, 36.113, 800.672, 563.43)
}

In [269]:
df = tabula.read_pdf('MyExport.pdf', pages='1', area=templates['page1'])

In [270]:
df.columns

Index(['Unnamed: 0', 'Post', 'Beskrivelse', 'Enh.', 'Mengde', 'Enhetspris',
       'Sum', 'Unnamed: 7'],
      dtype='object')

In [258]:
# Error correction for column names

df['Post'] = df['Unnamed: 0']
df.drop(['Unnamed: 0'], axis=1, inplace=True)

df['Sum'] = df['Unnamed: 7']
df.drop(['Unnamed: 7'], axis=1, inplace=True)

In [259]:
# Correction for Sorting

for post in df['Post'].value_counts().keys():
    if(len(post.split('.')) < 4):
        df['Post'][df.index[df['Post'] == post][0]] += '.00'

orted_indexes = list(df['Post'].value_counts().keys())
sorted_indexes.sort()

In [260]:
# Making the dataframe index_wise

df_new = pd.DataFrame()
df_new[df.columns[0]] = list(sorted_indexes)

In [261]:

# Variables for holding temp values that will be later assigned to the dataFrame

sentence_list = []
list_dict = {}

for i in range(2, len(df.columns)):
    list_dict[df.columns[i]] = []

    
# Traversing through the read file from tabula
for i in range(len(sorted_indexes)):
    
    sentence_list.append([])
    
    for k in range(2, len(df.columns)):
        list_dict[df.columns[k]].append(' ')
    
# For the first n-1 lines  
    if(i+1 < len(sorted_indexes)):
        
# Getting all rows between 2 consecutive indexes such as (12.0.1, 12.0.1.01) etc.
        i1 = df.index[df['Post'] == sorted_indexes[i]][0]
        i2 = df.index[df['Post'] == sorted_indexes[i+1]][0]
        
        for j in range(i1, i2):
            
# Adding a new line after
            sentence_list[i].append(df[df.columns[1]][j] + " \n")
        
# Handling rest of the value columns
            for k in range(2, len(df.columns)):
                if(type(df[df.columns[k]][j]) == str):
                    list_dict[df.columns[k]][i] = df[df.columns[k]][j]        
            
        sentence_list[i] = " ".join(sentence_list[i])
        
# For the last line
    elif(i+1 >= len(sorted_indexes)):
        
        i1 = df.index[df['Post'] == sorted_indexes[i]][0]
        i2 = len(df)
        
        for j in range(i1, i2):
            
# Adding a new line after
            sentence_list[i].append(df[df.columns[1]][j] + " \n")
            
            for k in range(2, len(df.columns)):
                if(type(df[df.columns[k]][j]) == str):
                    list_dict[df.columns[k]][i] = df[df.columns[k]][j]        
                
        sentence_list[i] = " ".join(sentence_list[i]) 
        
        
df_new[df.columns[1]] = sentence_list
for k in range(2, len(df.columns)):
        df_new[df.columns[k]] = list_dict[df.columns[k]]

In [262]:
df_new

,Post,Beskrivelse,Enh.,Mengde,Enhetspris,Sum
0,12.24.1.00,INNERVEGG - TYPE IV-01 \n leilighetsskillevegg...,,,,
1,12.24.1.01,QK5.31112A IV 01 \n Komplett leilighetskilleve...,m2,"972,00","0,00","0,00"
2,12.24.1.02,PJ3.132122911A IV 02 \n Komplett lettvegg. \n ...,m2,"1 409,00","0,00","0,00"
3,12.24.1.03,SB1.11299 IV 03 \n Pocetvegg \n Komplett brutt...,m2,"119,00","0,00","0,00"
4,12.24.1.04,QK5.31112A IV 04 \n Sjaktvegg \n Komplett \n,m2,"556,00","0,00","0,00"
5,12.24.1.05,SF3.1000A IV 05 \n Påforing betong. \n,m2,"510,00","0,00","0,00"

## Trying for pages 2 and above

In [292]:
df = tabula.read_pdf('MyExport.pdf', pages='2', area=templates['page2'])

In [294]:
df.columns = ['Post', 'Beskrivelse', 'Enh.', 'Mengde', 'Enhetspris', 'Sum']

In [299]:
# Correction for Sorting

for post in df['Post'].value_counts().keys():
    if(len(post.split('.')) < 4):
        df['Post'][df.index[df['Post'] == post][0]] += '.00'

sorted_indexes = list(df['Post'].value_counts().keys())
sorted_indexes.sort()

In [300]:
# Making the dataframe index_wise

df_new = pd.DataFrame()
df_new[df.columns[0]] = list(sorted_indexes)

In [301]:
df['Post'].value_counts().keys()[0]

'12.24.1.06'

In [302]:
sorted_indexes

['12.24.1.06',
 '12.25.2.00',
 '12.25.2.01',
 '12.25.2.02',
 '12.25.2.03',
 'Sum Kapittel.00.00']

In [304]:

# Variables for holding temp values that will be later assigned to the dataFrame

sentence_list = []
list_dict = {}

for i in range(2, len(df.columns)):
    list_dict[df.columns[i]] = []

    
# Traversing through the read file from tabula
for i in range(len(sorted_indexes)):
    
    sentence_list.append([])
    
    for k in range(2, len(df.columns)):
        list_dict[df.columns[k]].append(' ')
    
# For the first n-1 lines  
    if(i+1 < len(sorted_indexes)):
        
# Getting all rows between 2 consecutive indexes such as (12.0.1, 12.0.1.01) etc.
        i1 = df.index[df['Post'] == sorted_indexes[i]][0]
        i2 = df.index[df['Post'] == sorted_indexes[i+1]][0]
        
        for j in range(i1, i2):
            
# Adding a new line after
            sentence_list[i].append(df[df.columns[1]][j] + " \n")
        
# Handling rest of the value columns
            for k in range(2, len(df.columns)):
                if(type(df[df.columns[k]][j]) == str):
                    list_dict[df.columns[k]][i] = df[df.columns[k]][j]        
            
        sentence_list[i] = " ".join(sentence_list[i])
        
# For the last line
    elif(i+1 >= len(sorted_indexes)):
        
        i1 = df.index[df['Post'] == sorted_indexes[i]][0]
        i2 = len(df)
        
        for j in range(i1, i2):
            
# Adding a new line after
            sentence_list[i].append(df[df.columns[1]][j] + " \n")
            
            for k in range(2, len(df.columns)):
                if(type(df[df.columns[k]][j]) == str):
                    list_dict[df.columns[k]][i] = df[df.columns[k]][j]        
                
        sentence_list[i] = " ".join(sentence_list[i]) 
        
        
df_new[df.columns[1]] = sentence_list
for k in range(2, len(df.columns)):
        df_new[df.columns[k]] = list_dict[df.columns[k]]

In [305]:
df_new

,Post,Beskrivelse,Enh.,Mengde,Enhetspris,Sum
0,12.24.1.06,PJ3.61213A IV 06 \n Påforing badekabiner \n,m2,"960,00","0,00","0,00"
1,12.25.2.00,FAST GIPSHIMLING I LEILIGHETER \n Gjelder i ga...,,,,
2,12.25.2.01,QK1.21 NEDLEKTING FOR HIMLING \n Lokalisering:...,m2,"720,00","0,00","0,00"
3,12.25.2.02,QK5.12212 PLANE PLATER I HIMLING \n Materiale:...,m2,"720,00","0,00","0,00"
4,12.25.2.03,MONTERING AV TAKLUKER \n,stk,"39,00","0,00","0,00"
5,Sum Kapittel.00.00,12 TØMRERARBEIDER \n,,,,"0,00"